<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table>
      <tr>
        <th>id</th>
        <th>name</th>
        <th>roll</th>
        <th>Actions</th>
      </tr>
      <tr>
        {% for data in data %}
          <td>{{ forloop.counter }}</td>
          <td>{{ data.name }}</td>
          <td>{{ data.roll }}</td>
          <td>
            <a href="/delete/{{ data.id }}"><button>Delete</button></a>
            <a href="/edit/{{ data.id }}"><button>Edit</button></a>
          </td>
        {% endfor %}
      </tr>
    </table>
  </body>
</html>
