<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form method="post">
        {% csrf_token %}
        <input placeholder="Enter name" type="text" name="studentname">
        <input placeholder="Enter roll no" type="number" name="studentrollno">
        <input placeholder="Enter course" type="text" name="studentcourse">
        <button  type="submit"> add </button>
    </form>
</body>

</html>