<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="studentname" placeholder="Enter studentname">
        <input type="text" name="studentroll" placeholder="Enter studentroll">
        <input type="text" name="studentcourse" placeholder="Enter studentcourse">
        <input type="submit" value="Submit">
    </form>
</body>
</html>